/* Add your CSS styles here */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
} */

header {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
  }

#profile-img {
    width: 180px;
    height: 170px;
    border-radius: 50%;
    margin-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 40px;
}

main {
    margin: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

p {
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 5px;
}

ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
}

li {
    margin-bottom: 5px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
  }